extends layout

block content
 script(type='text/x-handlebars')
  div.navbar
   div.navbar-inner    
    a.brand BlogR
    ul.nav
     li
      {{#linkTo 'posts'}}Posts{{/linkTo}}
     li
      {{#linkTo 'about'}}About{{/linkTo}}

  {{outlet}}

 include about.jade  
 include posts/post_edit.jade
 include posts/post.jade
 include posts/posts.jade
 