doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/libs/jquery-1.9.1.js')
    script(type='text/javascript', src='/javascripts/libs/handlebars-1.0.0-rc.3.js')
    script(type='text/javascript', src='/javascripts/libs/ember-1.0.0-master.js')
    script(type='text/javascript', src='/javascripts/libs/showdown.js')
    script(type='text/javascript', src='/javascripts/app.js')