script(type='text/x-handlebars', id='posts')
 div.container-fluid
  div.row-fluid
   div.span3
    table.table
     thead
      tr
       th Recent Posts
     {{#each model}}
     tr
      td
       a {{title}} 
        small.muted By {{author}}
     {{/each}}
    div.span9