html,
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  cursor: pointer;
}
.about {
  padding-bottom: 15px;
  width: 700px;
}
.about + .about {
  padding-top: 25px;
  border-top: 1px solid #000;
}
.navbar .nav > li > a.active {
  color: #000;
  font-weight: bold;
}
.postslist {
  list-style: none;
}
